body {
    margin: 0;
    font-family: montserrat;
}
h1 {
    font-size: 50px;
    font-weight: 500;
}
p {
    color: dimgray;
    line-height: 1.6;
}
.line-highlight {
    color: rgb(255, 71, 126);
    font-weight: 700;
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.half-width img {
    width: 100%;
}
.top-banner {
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.biography-banner {
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right;
}
.work-detail {
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right;
    text-align: center;
}
.img-chart {
    float: left;
    width: 30%;
    margin-left: 3%;
}
.link-button {
    background-image: linear-gradient(45deg, lightsalmon, rgb(255, 71, 126));
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    margin-top: 5px;
}
section {
    height: 500px;
    padding: 100px;
}
.text-decor {
    color: white;
    text-decoration: none;
    padding: 2px;
    font-size: 30px;
    font-weight: 550;
}
.submit {
    text-decoration: none;
    width: 50%;
    height: 20%;
    margin-left: 25%;
    color: white;
}
.massage {
    color: white;
}
.greetings {
    font-weight: bold;
    color: black;
}
footer {
    text-align: center;
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    height: 500px;
    padding: 100px;
}