body {
    margin: 0;
    font-family: montserrat;
}
h1 {
    font-size: 50px;
}
p {
    color: dimgray;
    line-height: 1.6;
}
.line-highlight {
    color: rgb(255, 71, 126);
}
.line-thiner {
    font-weight: 500;
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.half-width img {
    width: 100%;
}
.top-banner {
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.biography-banner {
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border: 7px solid cyan;
}
.work-detail {

}
.link-button {
    background-image: linear-gradient(45deg, lightsalmon, rgb(255, 71, 126));
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin-top: 5px;
}
section {
    height: 500px;
    padding-bottom: 150px;
    padding-top: 150px;
}